// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$background-active-name: 'background_active';
$background-active-x: 29px;
$background-active-y: 77px;
$background-active-offset-x: -29px;
$background-active-offset-y: -77px;
$background-active-width: 29px;
$background-active-height: 37px;
$background-active-total-width: 144px;
$background-active-total-height: 114px;
$background-active-image: '/static/img/sprite.png';
$background-active: (29px, 77px, -29px, -77px, 29px, 37px, 144px, 114px, '/static/img/sprite.png', 'background_active', );
$background-name: 'background';
$background-x: 0px;
$background-y: 77px;
$background-offset-x: 0px;
$background-offset-y: -77px;
$background-width: 29px;
$background-height: 37px;
$background-total-width: 144px;
$background-total-height: 114px;
$background-image: '/static/img/sprite.png';
$background: (0px, 77px, 0px, -77px, 29px, 37px, 144px, 114px, '/static/img/sprite.png', 'background', );
$basket-name: 'basket';
$basket-x: 118px;
$basket-y: 74px;
$basket-offset-x: -118px;
$basket-offset-y: -74px;
$basket-width: 23px;
$basket-height: 18px;
$basket-total-width: 144px;
$basket-total-height: 114px;
$basket-image: '/static/img/sprite.png';
$basket: (118px, 74px, -118px, -74px, 23px, 18px, 144px, 114px, '/static/img/sprite.png', 'basket', );
$grid-active-name: 'grid_active';
$grid-active-x: 88px;
$grid-active-y: 0px;
$grid-active-offset-x: -88px;
$grid-active-offset-y: 0px;
$grid-active-width: 30px;
$grid-active-height: 38px;
$grid-active-total-width: 144px;
$grid-active-total-height: 114px;
$grid-active-image: '/static/img/sprite.png';
$grid-active: (88px, 0px, -88px, 0px, 30px, 38px, 144px, 114px, '/static/img/sprite.png', 'grid_active', );
$grid-name: 'grid';
$grid-x: 88px;
$grid-y: 38px;
$grid-offset-x: -88px;
$grid-offset-y: -38px;
$grid-width: 30px;
$grid-height: 38px;
$grid-total-width: 144px;
$grid-total-height: 114px;
$grid-image: '/static/img/sprite.png';
$grid: (88px, 38px, -88px, -38px, 30px, 38px, 144px, 114px, '/static/img/sprite.png', 'grid', );
$option-active-name: 'option_active';
$option-active-x: 32px;
$option-active-y: 38px;
$option-active-offset-x: -32px;
$option-active-offset-y: -38px;
$option-active-width: 32px;
$option-active-height: 39px;
$option-active-total-width: 144px;
$option-active-total-height: 114px;
$option-active-image: '/static/img/sprite.png';
$option-active: (32px, 38px, -32px, -38px, 32px, 39px, 144px, 114px, '/static/img/sprite.png', 'option_active', );
$option-name: 'option';
$option-x: 0px;
$option-y: 38px;
$option-offset-x: 0px;
$option-offset-y: -38px;
$option-width: 32px;
$option-height: 39px;
$option-total-width: 144px;
$option-total-height: 114px;
$option-image: '/static/img/sprite.png';
$option: (0px, 38px, 0px, -38px, 32px, 39px, 144px, 114px, '/static/img/sprite.png', 'option', );
$photo-active-name: 'photo_active';
$photo-active-x: 118px;
$photo-active-y: 37px;
$photo-active-offset-x: -118px;
$photo-active-offset-y: -37px;
$photo-active-width: 26px;
$photo-active-height: 37px;
$photo-active-total-width: 144px;
$photo-active-total-height: 114px;
$photo-active-image: '/static/img/sprite.png';
$photo-active: (118px, 37px, -118px, -37px, 26px, 37px, 144px, 114px, '/static/img/sprite.png', 'photo_active', );
$photo-name: 'photo';
$photo-x: 118px;
$photo-y: 0px;
$photo-offset-x: -118px;
$photo-offset-y: 0px;
$photo-width: 26px;
$photo-height: 37px;
$photo-total-width: 144px;
$photo-total-height: 114px;
$photo-image: '/static/img/sprite.png';
$photo: (118px, 0px, -118px, 0px, 26px, 37px, 144px, 114px, '/static/img/sprite.png', 'photo', );
$sticker-active-name: 'sticker_active';
$sticker-active-x: 44px;
$sticker-active-y: 0px;
$sticker-active-offset-x: -44px;
$sticker-active-offset-y: 0px;
$sticker-active-width: 44px;
$sticker-active-height: 38px;
$sticker-active-total-width: 144px;
$sticker-active-total-height: 114px;
$sticker-active-image: '/static/img/sprite.png';
$sticker-active: (44px, 0px, -44px, 0px, 44px, 38px, 144px, 114px, '/static/img/sprite.png', 'sticker_active', );
$sticker-name: 'sticker';
$sticker-x: 0px;
$sticker-y: 0px;
$sticker-offset-x: 0px;
$sticker-offset-y: 0px;
$sticker-width: 44px;
$sticker-height: 38px;
$sticker-total-width: 144px;
$sticker-total-height: 114px;
$sticker-image: '/static/img/sprite.png';
$sticker: (0px, 0px, 0px, 0px, 44px, 38px, 144px, 114px, '/static/img/sprite.png', 'sticker', );
$text-active-name: 'text_active';
$text-active-x: 58px;
$text-active-y: 77px;
$text-active-offset-x: -58px;
$text-active-offset-y: -77px;
$text-active-width: 28px;
$text-active-height: 37px;
$text-active-total-width: 144px;
$text-active-total-height: 114px;
$text-active-image: '/static/img/sprite.png';
$text-active: (58px, 77px, -58px, -77px, 28px, 37px, 144px, 114px, '/static/img/sprite.png', 'text_active', );
$text-name: 'text';
$text-x: 86px;
$text-y: 77px;
$text-offset-x: -86px;
$text-offset-y: -77px;
$text-width: 28px;
$text-height: 37px;
$text-total-width: 144px;
$text-total-height: 114px;
$text-image: '/static/img/sprite.png';
$text: (86px, 77px, -86px, -77px, 28px, 37px, 144px, 114px, '/static/img/sprite.png', 'text', );
$spritesheet-width: 144px;
$spritesheet-height: 114px;
$spritesheet-image: '/static/img/sprite.png';
$spritesheet-sprites: ($background-active, $background, $basket, $grid-active, $grid, $option-active, $option, $photo-active, $photo, $sticker-active, $sticker, $text-active, $text, );
$spritesheet: (144px, 114px, '/static/img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
